@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
}

html,
body {
  scroll-behavior: smooth scroll;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 150%;
  max-width: 1920px;
  margin: 0 auto;
}

/* Hide scrollbar for webkit browsers */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE and Edge */
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.container{
  @apply max-w-full 2xl:max-w-[1200px] px-4 lg:px-10 2xl:mx-auto 2xl:px-0;
}

.container_fluid {
  @apply max-w-full 2xl:max-w-[1280px] px-4 lg:px-10 2xl:mx-auto 2xl:px-0;
}

h2 {
  @apply mb-4 text-xl font-semibold md:text-2xl text-[#111827];
}

.h3 {
  @apply text-[32px] lg:text-4xl leading-[42px] lg:leading-[48px] -tracking-[0.5px] lg:-tracking-[1px] font-semibold;
}
